<div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="nav-item start active open">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">Dashboard</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start ">
                            <a href="/dashboard/records" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">Patient Records</span>
                            </a>
                        </li>
                        <li class="nav-item start">
                            <a href="#" class="nav-link ">
                                <i class="icon-bulb"></i>
                                <span class="title">Doctors</span>
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a href="/dashboard/profile/" class="nav-link ">
                                <i class="icon-graph"></i>
                                <span class="title">My Profile</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>